<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">
			<img src="img/logo.svg" width="24" height="24" class="d-inline-block align-top" alt="">
			ZwemTools
		</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<i class="fa-solid fa-house mr-2" aria-hidden="true"></i> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="lenex-viewer">
				<i class="fa-solid fa-code mr-2" aria-hidden="true"></i> Lenex Viewer
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="boomsma">
				<i class="fa-solid fa-trophy mr-2" aria-hidden="true"></i> Boomsma Bokalen
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="lac">
				<i class="fa-solid fa-table-list mr-2" aria-hidden="true"></i> LAC
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="relays">
				<i class="fa-solid fa-person-swimming mr-2" aria-hidden="true"></i> @Strings.Relays
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
