@page "/"
@using Schotejil.Clubkampioen.Data.Sql
@inject DatabaseContext Context

<h1>Meets</h1>

@foreach (Meet meet in this.Meets)
{
    <ul>
        <li>
            <a href="@($"meets/{meet.Id}")">
                @meet.Id - @meet.Name (@meet.Sessions.Select(x => x.Date).DefaultIfEmpty().Min())
            </a>
        </li>
    </ul>
}

@code {
    private List<Meet> Meets { get; set; } = new();

    protected override void OnInitialized()
    {
        this.Meets = this.Context.Meets.ToList();
        this.Context.SavedChanges += (_, _) =>
        {
            this.Meets = this.Context.Meets.ToList();
        };
    }
}